@font-face {
  font-family: 'Wolmer';
  src: url('/wolmer-font/Wolmer-endi.woff') format('woff'),
       url('/wolmer-font/endi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
